/*
Navbar purple: #0A0028
white: white
pink: #FF728C
dark grey: #828d9d;
light grey: #dae2ef;

 */


/* Header */

body{

margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
box-sizing: border-box;

}
nav{

width:100vw;
background: #0B0129;
color:white;
padding:20px 15px 15px;


}
nav a{
  color:white;
  text-decoration: none;
  padding: 10px 20px;
  font-family: arial;
  font-weight: 300;
  font-size: .9rem;
}
nav a:hover{
  color: #FF728C;
}
nav .logo{
background:none;
}

.Header-content{

display: grid;
grid-template-columns: 1fr 1fr;
width:80vw;
margin: 0 auto;

}

nav ul{

background: none;

}
nav ul li{
display: inline;

}
nav ul .register-btn{
  background: #FF728C;
  padding: 10px 25px;
  text-align: center;
  color:white;
  border-radius:5px;
}

/* Content area */

#content-area{

	overflow:auto;
	width:100%;
  min-height:100vh;

}

/* Sidebar */

#Sidebar{

background: #F9F8F4;
width:30%;
max-width:300px;
display: inline-block;
float:left;

}

#Sidebar select{

background: transparent;
padding:10px;
font-size:14px;
font-weight: 500;
color: #1b1b1b;
display: block;
margin-bottom:25px;
width:100%;

}

#Sidebar h4{

font-size:0.9rem;
margin-bottom:25px;
text-transform: uppercase;
font-weight: 500;

}

#Sidebar .inside{

padding:20px;
max-width:300px;

}

#Sidebar .filters .title{

font-size:0.9rem;
display: block;
margin-bottom: 1rem;
color: #AFB0B1;

}

#Sidebar input[type=text]{

border-radius: 5px;
font-size: 1rem;
padding:0.4rem;
display: inline-block;
width:40%;
margin-right: 2.5%;
margin-bottom: 1rem;
}

#Sidebar label{

display: block;
width:100%;
padding:10px 0;

}

#Sidebar input[type=checkbox]{

float:right;

}

/* Listings */

#Listings{

width:70%;
float:left;
display:inline-block;
padding:15px;




}

#Listings .search-area 	input[type=text]{
	width:70%;
	background:transparent;
	font-size:2rem;
  font-weight: 100;
  color: #dae2ef;
  border:none;
  border-bottom: 2px solid #AFB0B1;
  margin-bottom: 20px;

}

#Listings .sort-by-area{

	margin-bottom:20px;

}

#Listings .sort-by-area .results{

font-size:0.8rem;
color: grey;
display:inline-block;

}

#Listings .sort-options{

	float:right;

}

#Listings .sort-options select{

	font-size:1rem;
	font-weight:300;
	border: 1px solid #AFB0B1;
	background:transparent;
	padding:20px;
	display:inline-block;
	margin-right:15px;
	vertical-align: top;

}

#Listings .sort-options .view{

	display:inline-block;

}
#Listings .sort-options .fas{

	font-size: 1.5rem;
	margin-left:15px;

}

#Listings .listings-results{

display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;


}


#Listings .listings-results .listing{

background: white;
  -webkit-box-shadow: 0 9px 54px -4px rgba(224, 224, 224, 1);
  box-shadow: 0 0 15px 0 rgba(224, 224, 224, 1);
  border-radius:5px;
  margin-bottom: 60px;
}

#Listings .listings-results .listing-img{

position: relative;
color:white;
padding:15px;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size:cover;
min-height:200px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;



}

#Listings .listings-results .listing-img:hover .details{

opacity: 1;

}

.address{

  position: absolute;
  bottom:20px;
  opacity: 1;
/* text-shadow: -1px 5px 6px rgba(116, 102, 141, 1);*/
text-shadow: 2px 1px black;
  font-size:1.5rem;

}

#Listings .listings-results .listing-img:hover .address{


opacity: 0;

}


#Listings .listings-results .details{

transition: all 0.4s ease-in-out;
opacity: 0;
padding:30px;
position: absolute;
top:0;
left:0;
bottom:0;
right:0;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4e1e9a+10,5e2ad8+50,5620ca+50,9c7ee8+100 */
  background: rgba(78,30,154, .8); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(78,30,154, .8) 10%, rgba(94,42,216,.8) 50%, rgba(86,32,202,.8) 50%, rgba(156,126,232,.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(78,30,154,.8) 10%,rgba(94,42,216,.8) 50%,rgba(86,32,202,.8) 50%,rgba(156,126,232,.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(78,30,154,.8) 10%,rgba(94,42,216,.8) 50%,rgba(86,32,202,.8) 50%,rgba(156,126,232,=.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}

#Listings .listings-results .user-img{

width:35px;
height:35px;
border-radius:50%;
border: 2px solid white;
display: inline-block;
background: url("./background.jpeg") no-repeat center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size:cover;


}

#Listings .listings-results .user-details{

vertical-align: top;
display:inline-block;
width:70%;
margin-left: 20px;

}

#Listings .listings-results .user-details .user-name{

font-size:0.9rem;
font-weight:300;
display: block;
color: rgba(255, 255, 255, 1);
margin-top:3px;
margin-bottom:5px;

}

#Listings .listings-results .user-details .post-date{

font-size:0.9rem;
display: block;
color: rgba(255, 255, 255, .7);

}

#Listings .listings-results .user-details .bedrooms{



}


#Listings .listings-results .user-details .bedrooms .fa{

display: inline-block;


}

#Listings .listings-results .user-details .bedrooms span{

display: inline-block;


}

.listing-details{

margin-top:20px;

}

.listing-details span{

margin-left:15px;
font-weight:300;
font-size:0.8rem;
display: inline-block;
vertical-align: top;


}

.view-btn{

background: black;
padding:8px;
font-size:0.9rem;
border-radius:5px;
text-align: center;
max-width:150px;
cursor:pointer;
transition: background 0.6s ease-in-out;

}

.view-btn:hover{

background: #FF728C;
}

.bottom-info{

padding: 20px 15px;


}
.location{

font-size: 1.2rem;
color: #dae2ef;

}
.price{

font-size: 1rem;
display: block;
margin-bottom: 10px;
color: #828d9d;

}

#pagination{

  text-align: center;

}

#pagination li{

display: inline-block;
padding:20px 30px;

}

#pagination li:hover{

background: pink;
color:white;
font-weight: 700;
cursor:pointer;

}

.active{

background: pink;
color:white;
font-weight:700;

}
.pages{

  display: inline-block;
  background: white;
  -webkit-box-shadow: 0 9px 54px -4px rgba(224, 224, 224, 1);
  box-shadow: 0 0 15px 0 rgba(224, 224, 224, 1);

}
